@import "./variants";
@import "./fonts.scss";

.brand{
    display: flex;
    text-align: left;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: darkslategray;
    height: 70px;
    justify-content: space-between;
    box-shadow: 0 0 10px 2px;
    color: $BrandFontColor;
    h1{
        margin-left: 30px;
        font-family: fanwood;
    }
    .CartWidget{
        display: flex;
        margin-right: 30px;
        margin-top: 15px;
        .notification{
            background-color: rgba(255, 0, 0, 0.753);
            width: 20px;
            height: 20px;
            border: 1px solid black;
            border-radius: 50%;
            position: relative;
            bottom: 20px;
            right: 5px;
            h4{
                position: relative;
                left: 5px;
                bottom: 2px;
            }
        }
    }
}